ENV=environment
APP_HOST=127.0.0.1
APP_PORT=8000
LOG_LEVEL=DEBUG

MONGO_INITDB_ROOT_USERNAME=init_username
MONGO_INITDB_ROOT_PASSWORD=init_password

DB_HOST=db_name
DB_PORT=db_port
DB_NAME=db_name
DB_USERNAME=db_user
DB_PASSWORD=db_pass